*.class
*.log


# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala specific
app.conf

# Scala-IDE specific
.scala_dependencies
.worksheet

# Dotenv
.env

# PHP
vendor

# Jupyter notebook
.ipynb_checkpoints

# Spark
metastore_db
spark-warehouse/

.idea/
.ivy2
.sbt
.Rhistory


#Project specific
docker-compose.override.yml
pgdata/
imgdata/

data/models/*

data/results/*
!data/results/.gitkeep

data/logs/*
!data/logs/.gitkeep

